@require '../bower_components/semantic-grid/stylesheets/styl/grid.styl'
@require '../bower_components/jeet/stylus/jeet/index.styl'

space = 20px
breakpoint = 'screen and (min-width: 768px)'

body
  padding: space 0
  margin: 0

.space-out
  margin-bottom: space

.table-row
  display: table

.table-col
  display: table-cell
  background-color: #ccc
  margin: 1em
  padding: 1em

  &.divider
    width: 20px
    background: none


.semanticgs-row
  row(12)

.semanticgs-panel
  column(12)
  margin: 20px
  background-color: #ccc

@media breakpoint

  .semanticgs-panel
    column(4)


.jeet-row
  center()

.jeet-panel
  col()

  > h1
    text-align: center
    //border: 1px solid #ccc

@media breakpoint
  
  .jeet-panel
    col(1/3)

