body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.table-row {
  display: table;
  margin-bottom: 20px;
}
.table-col {
  display: table-cell;
  background-color: #ccc;
  margin: 1em;
  padding: 1em;
}
.table-col.divider {
  width: 20px;
  background: none;
}
.rwd-row {
  display: block;
  width: 979.9999999999999px;
  margin: 0 -10px;
  *width: 979.9999999999999px -correction;
  *margin: 0 -10px -correction;
}
.rwd-panel {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
  *width: 940px -correction;
  *margin: 0 10px -correction;
  margin: 20px;
  background-color: #ccc;
}
@media screen and (min-width: 768px) {
  .rwd-panel {
    display: inline;
    float: left;
    overflow: hidden;
    width: 300px;
    margin: 0 10px;
    *width: 300px -correction;
    *margin: 0 10px -correction;
  }
}
