body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.semanticgs-panel,
.jeet-row,
.jeet-panel {
  *zoom: 1;
}
.semanticgs-panel:before,
.jeet-row:before,
.jeet-panel:before,
.semanticgs-panel:after,
.jeet-row:after,
.jeet-panel:after {
  content: '';
  display: table;
}
.semanticgs-panel:after,
.jeet-row:after,
.jeet-panel:after {
  clear: both;
}
body {
  padding: 20px 0;
  margin: 0;
}
.space-out {
  margin-bottom: 20px;
}
.table-row {
  display: table;
}
.table-col {
  display: table-cell;
  background-color: #ccc;
  margin: 1em;
  padding: 1em;
}
.table-col.divider {
  width: 20px;
  background: none;
}
.semanticgs-row {
  display: block;
  width: 979.9999999999999px;
  margin: 0 -10px;
  *width: 979.9999999999999px -correction;
  *margin: 0 -10px -correction;
}
.semanticgs-panel {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 1233%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 20px;
  background-color: #ccc;
}
.semanticgs-panel:last-child {
  margin-right: 0%;
}
@media screen and (min-width: 768px) {
  .semanticgs-panel {
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 409%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .semanticgs-panel:last-child {
    margin-right: 0%;
  }
}
.jeet-row {
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.jeet-panel {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
.jeet-panel:last-child {
  margin-right: 0%;
}
.jeet-panel > h1 {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .jeet-panel {
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 31.33333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .jeet-panel:last-child {
    margin-right: 0%;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.responsive-row {
  margin-left: 15%;
  margin-right: 15%;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  -ms-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
.responsive-panel {
  display: inline;
  float: left;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .responsive-panel {
    width: 33.333333333333336%;
  }
}
.responsive-row-fixed {
  width: 320px;
  margin: 0 auto;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  -ms-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
@media screen and (min-width: 768px) {
  .responsive-row-fixed {
    width: 728px;
    margin: 0 auto;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
}
@media screen and (min-width: 1024px) {
  .responsive-row-fixed {
    width: 1004px;
    margin: 0 auto;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
}
