@require '../bower_components/semantic-grid/stylesheets/styl/grid.styl'
@require '../bower_components/jeet/stylus/jeet/index.styl'

space = 20px
breakpoint = 'screen and (min-width: 768px)'

body
  padding: space 0
  margin: 0

.space-out
  margin-bottom: space

.table-row
  display: table

.table-col
  display: table-cell
  background-color: #ccc
  margin: 1em
  padding: 1em

  &.divider
    width: 20px
    background: none


.semanticgs-row
  row(12)

.semanticgs-panel
  column(12)
  margin: 20px
  background-color: #ccc

@media breakpoint

  .semanticgs-panel
    column(4)


.jeet-row
  center()

.jeet-panel
  col()

  > h1
    text-align: center
    //border: 1px solid #ccc

@media breakpoint
  
  .jeet-panel
    col(1/3)


// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// Responsive layouts in stylus
// https://gist.github.com/1549029
// Created by Benjamin Lupton
// Licensed under the Creative Commons Zero - http://creativecommons.org/publicdomain/zero/1.0/
 
// ====================================
// Responsive Layout Awesomeness
 
// Include paddings inside our width for everything
*
  box-sizing: border-box
 
// Provide our wrapper mixin
// Contains our resize transition
wrapper($site-width = 70%)
  $site-margin = ((100% - $site-width) / 2)
  margin-left: $site-margin
  margin-right: $site-margin
  transition: margin 0.3s ease-out
 
// Provide our column mixin
column()
  display: inline
  float: left
  overflow: hidden

.responsive-row
  wrapper()
  clearfix()

.responsive-panel
  column()
  text-align: center
  width: 100%

@media breakpoint
  
  .responsive-panel
    width: (100% / 3)





wrapper-fixed($site-width = 1280px)
  width: $site-width
  margin: 0 auto
  transition: margin 0.3s ease-out

.responsive-row-fixed
  wrapper-fixed(320px)
  clearfix()

@media breakpoint

  .responsive-row-fixed
    width: 728px

@media screen and (min-width: 1024px)

  .responsive-row-fixed
    width: 1004px